<div class="whole">
  <h1 class="heading">Ratting App </h1>

  <div class="ratting">
    <span
      *ngFor="let item of [1, 2, 3, 4, 5]"
      class="stars"
      #starRef
      (click)="rate(starRef, item)"
      >&#9734;</span
    >

    <div class="message-box">
      <input
        class="name"
        type="text"
        placeholder="Enter Your Name"
        [(ngModel)]="name"
      />
      <textarea
        placeholder="Enter your message..."
        id="message"
        [(ngModel)]="message"
      ></textarea>

      <button (click)="submitMessage()" class="myButton" *ngIf="name.length>0">Send</button>

      <div class="posted-section">

  

        <h2 class="posted-heading">Message Command Posted</h2>
        <div class="message-boxs">
         <p *ngFor="let item of messages">
  <!-- ⭐ Stars before name -->
   
  <span class="star-display">
    <span *ngFor="let i of stars">
      <span *ngIf="i <= item.rating" class="filled">&#9733;</span>
      <span *ngIf="i > item.rating" class="empty">&#9733;</span>
    </span>
  </span>

  <span class="comment-text">
  <strong>{{ item.name }}:</strong> {{ item.comment }}
</span>
</p>

        </div>
      </div>
    </div>
  </div>
</div>
